.username,.password {
    display: none;
}

.active {
    display: block;
}

.header-user {
    padding-top: 20px;
}

.section-1-user {
    padding-top: 20px;
}



body {
    position: relative;
}

.anyClass {
    height:215px;
    overflow-y: auto;
    padding: inherit;
    width: 100%;

}


.anyClass::-webkit-scrollbar-track, .modal-body::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.anyClass::-webkit-scrollbar, .modal-body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.anyClass::-webkit-scrollbar-thumb, .modal-body::-webkit-scrollbar-thumb
{
    background-color: dimgrey;
}

.modal-body {
    overflow-y: auto;
    height: 475px;
}

.users-res {
    margin-top: 5px;
}

.cite {
    font-size: 8px;
    color:currentColor
}

.alert-post-error, .alert-post-success {
    display: none;
}

.comment {
    cursor: pointer;
}

.comments-body {
    display: none;
}